* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
}

.grupoComandos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.cartaoComando {
    width: calc(25% - 15px);
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px 5px;
    transition: 150ms;
    background-color: #d0dcfc;
}

.cartaoComando:hover {
    scale: 105%;
    background-color: #a0b8f8;
    transform: translateY(-5%);
}
